{% extends 'index.html' %}

{% block content %}
<link rel="stylesheet" type="text/css" href="/static/style.css">
<h3 align="center">BORDA</h3>
<form id="alternatifForm">
  <label for="jumlahAlternatif">Masukkan jumlah alternatif: </label><br>
  <input type="number" id="jumlahAlternatif" name="jumlahAlternatif" min="1">
  <button type="button" onclick="generateTable()">Generate</button>
</form><br>
1. Menginput total peringkat setiap alternatif
<table class="borda-matrix">
  <thead>
    <tr>
      <th rowspan="2">Alternatif</th>
      <th colspan="5">Peringkat</th>
    </tr>
    <tr>
      <th>EDAS</th>
      <th>Electre</th>
      <th>MABAC</th>
      <th>AHP</th>
      <th>Fuzzy</th>
    </tr>
  </thead>
  <tbody id="tableBody">
    <!-- Baris-baris alternatif akan di-generate di sini -->
  </tbody>
</table>
<button type="button" onclick="calculateValues()">Calculate</button>
<br>
<br>
<div id="result"></div>
<br>
2. Memberikan bobot peringkat<br>
<button type="button" onclick="borda_bobot()">Buat Tabel Bobot</button>
<br>
<br>
<table class="peringkat_borda">
  <thead>
    <tr id="headerRow">
      <!-- Kolom Ke-n akan ditambahkan di sini -->
    </tr>
  </thead>
  <tbody class="peringkat_borda" id="tablePeringkat">
    <!-- Baris-baris alternatif dan input peringkat akan di-generate di sini -->
  </tbody>
</table>
<br>
3. Menentukan peringkat dan skor BORDA<br>
<table class="borda-matrix4">
  <thead>
    <tr>
      <th>Peringkat</th>
      <th>Alternatif</th>
      <th>Skor</th>
    </tr>
  </thead>
  <tbody id="bordaScores">
    <!-- Baris-baris alternatif akan di-generate di sini -->
  </tbody>
</table>
<button type="button" onclick="save()">Borda Skor</button>
<script src="../static/js/borda.js"></script>

{% endblock %}
